:root {
    --main-color: #2a2a2b;
    --inlay-color: #101010;
    --status-line: #545558;
    --status-line-text: #cccccc;
    --highlight-dark: #515152;
    --highlight: #8a8a8b;
    --highlight-light: #bbbbbb;
    --text-color: #ffffff;
}
