:root {
    --main-color: #747c82;
    --secondary-color: #dae2f6;
    --inlay-color: #bec6cd;
    --scene-color: #bec6cd;
    --error-color: #ff4444;

    --primary-text: #000000;
    --secondary-text: #4e4e4e;
    --link-text: #4393de;

    --header-color: #2a2a2a;

    --button-color: #8a8a8b;
    --button-light: #ababab;
    --button-hover: #ffffff;
    --button-selected: #6e6e6e;

    --border-dark: #414142;
    --border-color: #6a6a6b;
    --border-light: #ababab;
}

.logo {
    --border-dark: #000000;
    color: var(--secondary-color);
}

.menu:hover {
    background: #f1f8a9;
}