:root {
    --main-color: #2a2a2b;
    --inlay-color: #101010;
    --status-line: #545558;
    --tool-bg: #9a9a9a;
    --tool-bar-bg: #545558;
    --status-line-text: #cccccc;
    --menu-bar: #101010;
    --canvas-color: #1c1c1c;
    --highlight-dark: #515152;
    --highlight-light: #8a8a8b;
    --text-color: #ffffff;
}