:root {
    --main-color: #2a2a2a;
    --inlay-color: #101010;
    --scene-color: #1c1c1c;
    --text-color: #ffffff;

    --border-dark: #000000;
    --border-color: #515152;
    --border-light: #8a8a8b;


}